*:not(html) {
    opacity: 0;
    animation: fade .7s ease-in-out forwards
}

@font-face {
    font-family: 'os';
    src: url('./assets/inter.ttf') format(truetype)
}

@font-face {
    font-family: 'rm';
    src: url('./assets/robotomono.ttf') format(truetype)
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body, html {
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    appearance: none;
    border: none;
    font-family: 'os', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #fffdff;
    transition: .09s ease-in-out all;
}

.bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(200deg, #5d2735, #6c5a2c);
    background-size: cover;
    filter: blur(2px);
}

.body, .bg {
    position: fixed;
}

.body {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    padding: 10px;
}

p, a {
    margin-left: 8px;
    margin-top: 1px;
    font-family: 'rm';

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 3px;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    background: #fff2;
}

::-webkit-scrollbar-button {
    opacity: 0;
    display: block;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #ff6c93, #ffd365);
    border-radius: 7px;
}

.flex {
    display: flex
}

a {
    color: #ffb2aa;
    font-weight: 300;
    cursor: pointer
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
    filter: brightness(0.9)
}

a:active, a:visited:active {
    filter: brightness(0.7)
}

a:visited {
    color: #ffe1a4;
}

.arrows::before {
    font-size: 13px;
    line-height: 18px;
    content: ">>";
    margin-right: 5px;
}

.header {
    font-weight: 200;
    font-size: 15px;
    margin: 8px 0 15px 25px;
}

.rules p {
    line-height: 14px;
}

.rules .header::before {
    content: '> ';
    font-size: 17px;
    font-weight: 200;
    margin: 0 -4px 0 -6px;
}

.offset {
    margin-top: 10px;
}

.offset.l {
    margin-top: 22px;
}

.bold {
    font-size: 20px;
    font-weight: 300;
    margin-left: 3px;
}